@import 'tailwindcss';

:root {
	--primary: #1c4d8d;
	--primaryAccent: #4988c4;
	--darkBlue: #0f2854;

	--lightGray: #f0f2f3;
	--lightGrayAccent: #dcdddf;

	--darkGray: #2b2b2b;
	--darkGrayAccent: #222222;
	--footerWhite: #fbfcfc;

	--siteWidth: 1440px;
	--navHeight: 88px;
}

@theme inline {
	--color-primary: var(--primary);
	--color-darkBlue: var(--darkBlue);
	--color-primaryAccent: var(--primaryAccent);
	--color-lightGray: var(--lightGray);
	--color-lightGrayAccent: var(--lightGrayAccent);

	--color-darkGray: var(--darkGray);
	--color-darkGrayAccent: var(--darkGrayAccent);
	--color-footerWhite: var(--footerWhite);

	--font-roboto: var(--font-roboto);
}

::selection {
	@apply bg-primary text-white;
}

* {
	scroll-behavior: smooth;
}

h1 {
	@apply text-3xl md:text-4xl lg:text-7xl font-bold leading-[1.2em];
}

h2 {
	@apply text-2xl md:text-3xl lg:text-4xl font-bold leading-[1.4em];
}

h3 {
	@apply text-xl md:text-2xl lg:text-3xl font-bold leading-[1.4em];
}

h4 {
	@apply text-lg font-bold leading-[1.4em];
}

body {
	background: var(--background);
	color: var(--foreground);
}

section {
	@apply py-16 sm:py-24 w-full flex justify-center;
}
.section-wrapper {
	@apply px-4;
	width: 100%;
	max-width: var(--siteWidth);
}

button {
	cursor: pointer;
}

/* NAVIGATION */

#submenu {
	&.open {
		animation-name: submenuOpen;
		animation-duration: 200ms;

		animation-fill-mode: forwards;
	}
}

@keyframes submenuOpen {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#mobileNav {
	@apply translate-x-full duration-200;

	&&.open {
		@apply translate-x-0;
	}
}

/* EMBLA */
.embla__viewport {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.embla__container {
	display: flex;
	touch-action: pan-y pinch-zoom;
	height: 100%;
}

.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}

/* HERO OVERLAY */
.heroOverlay {
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: contain;

	@media (width >= 48rem) {
		background-image: url('/HeroBackground_md.svg');
	}

	@media (width >= 80rem) {
		background-image: url('/HeroBackground.svg');
	}
}

.whiteBox {
	@apply bg-white shadow-[0_0_10px_1px] shadow-black/30;
}
